<div>
  <div class="row row-cols-2" data-bind="using: FieldMap">
    <div
      class="col pb-2"
      data-bind="component: {name: Vendor.components.edit, params: Vendor}"
    ></div>
    <div
      class="col pb-2"
      data-bind="component: {name: ItemNum.components.edit, params: ItemNum}"
    ></div>
    <div
      class="col pb-2"
      data-bind="component: {name: Quantity.components.edit, params: Quantity}"
    ></div>
    <div class="col pb-2">
      <div
        data-bind="component: {name: InStock.components.edit, params: InStock}"
      ></div>
      <div
        data-bind="component: {name: SpecialOrder.components.edit, params: SpecialOrder}"
      ></div>
    </div>
  </div>
</div>
