<div class="d-flex m-0" data-bind="">
  <ol class="list-group list-group-horizontal p-0 m-0 d-flex">
    <li
      class="list-group-item d-flex flex-column justify-content-center fix-service-icon-border"
    >
      <i class="fa fa-3x" data-bind="class: Pipeline.Icon"></i>
    </li>
    <!-- ko foreach: Pipeline.Stages -->
    <li
      class="list-group-item d-flex flex-column justify-content-center"
      data-bind="css: {'border-bottom-0': $parent.listItemShowBorderlessBottom($data)}, class: $parent.listItemTypeClass($data)"
    >
      <div
        class="d-flex align-items-center"
        data-bind="class: $parent.listItemTextClass($data)"
      >
        <h4
          data-bind="text: $parent.stageDisplayStep($data), class: $parent.listItemTextClass($data)"
        ></h4>
        <div class="mx-2"></div>
        <div>
          <div class="fw-bold" data-bind="text: Title"></div>
          <p data-bind="text: ActionType"></p>
        </div>
      </div>
    </li>
    <!-- /ko -->
  </ol>
  <!-- ko if: ShowActionsArea -->
  <div class="flex-grow-1 border-bottom"></div>
  <!-- /ko -->
</div>
