<div class="card">
  <div class="card-body p-0">
    <div class="card-title d-flex m-0" data-bind="">
      <div class="d-flex flex-column justify-content-center mx-3 p-1">
        <i class="fa fa-3x" data-bind="class: Pipeline.Icon"></i>
      </div>
      <div class="flex-grow-1 bg-light-gray">
        <ol class="p-0 m-0 mt-4 d-flex">
          <!-- ko foreach: Pipeline.Stages -->
          <li
            class="d-flex flex-column justify-content-center px-3 py-1"
            data-bind="class: $parent.listItemTypeClass($data),
            click: $parent.setSelected"
          >
            <div class="d-flex align-items-center" data-bind="">
              <h4 style="color: inherit" data-bind="text: Step"></h4>
              <div class="mx-2"></div>
              <div>
                <div class="fw-bold" data-bind="text: Title"></div>
                <p data-bind="text: ActionType"></p>
              </div>
            </div>
          </li>
          <!-- /ko -->
        </ol>
      </div>
    </div>
    <!-- ko if: ShowActionsArea -->
    <!-- ko using: request.Assignments.CurrentStage -->
    <!-- ko if: AssignmentComponents().length -->
    <div class="">
      <div class="p-3">
        <div data-bind="foreach: Validation.Errors">
          <div
            class="alert alert-warning"
            role="alert"
            data-bind="text: description"
          ></div>
        </div>
        <div class="">
          <!-- ko foreach: AssignmentComponents -->
          <div
            data-bind="component: {name: actionComponentName, params: $data }"
          ></div>
          <!-- /ko -->
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
  </div>
</div>
