<div>
  <table class="table mb-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Vendor</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <!-- ko ifnot: ItemArray().length -->
    <tbody>
      <tr>
        <td colspan="9" class="text-center">Nothing to Show</td>
      </tr>
    </tbody>
    <!-- /ko -->
    <tbody data-bind="visible: ItemArray().length, foreach: ItemArray">
      <tr>
        <td data-bind="text: ID"></td>
        <td data-bind="text: Title"></td>
        <td data-bind="text: Vendor"></td>
        <td data-bind="text: Description"></td>
        <td data-bind="text: Quantity"></td>
        <td data-bind="text: Unit"></td>
        <td data-bind="text: Price"></td>
        <td data-bind="text: Amount"></td>
        <td>
          <i
            class="fas fa-trash pointer"
            data-bind="click: $parent.remove.bind($data)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mb-3">
    <!-- ko if: NewItem -->
    <h5>Create a new Item:</h5>
    <div class="d-flex align-items-end pb-2" data-bind="using: NewItem">
      <div class="">
        <label>
          <h6>Title<span class="required">*</span>:</h6>
          <input class="form-control" data-bind="value: Title" />
        </label>
      </div>
      <div class="ms-1">
        <label
          ><h6>Vendor<span class="required">*</span>:</h6>
          <input class="form-control" data-bind="value: Vendor" />
        </label>
      </div>
      <div class="ms-1">
        <label
          ><h6>Description<span class="required">*</span>:</h6>
          <input class="form-control" data-bind="value: Description" />
        </label>
      </div>
      <div class="ms-1">
        <label>
          <h6>Quantity<span class="required">*</span>:</h6>
          <input
            type="number"
            class="form-control"
            data-bind="value: Quantity"
          />
        </label>
      </div>
      <div class="ms-1">
        <label
          ><h6>Unit<span class="required">*</span>:</h6>
          <input class="form-control" data-bind="value: Unit" />
        </label>
      </div>
      <div class="ms-1">
        <label
          ><h6>Price<span class="required">*</span>:</h6>
          <input class="form-control" data-bind="value: Price" />
        </label>
      </div>
      <div class="ms-1">
        <label
          ><h6>Amount<span class="required">*</span>:</h6>
          <input class="form-control" data-bind="value: Amount" />
        </label>
      </div>
      <button
        type="button"
        class="btn btn-success ms-2"
        data-bind="click: $parent.submit"
      >
        Add +
      </button>
    </div>
    <!-- /ko -->
  </div>
</div>
