<div data-bind="childrenComplete: myPostProcessingLogic">
  <div class="d-flex justify-content-between">
    <h2 class="mx-0" data-bind="text: filter"></h2>
    <i class="fa fa-sync pointer" data-bind="click: refresh"></i>
  </div>
  <!-- ko if: enableActionOfficeFeatures -->
  <div class="form-check form-switch">
    <label class="form-check-label">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        data-bind="checked: ShowAssignees"
      />
      Show Assignments</label
    >
  </div>
  <!-- /ko -->
  <!-- <input type="checkbox" data-bind="checked: ShowAssignees" /> -->
  <!-- <div>
    <button
      type="button"
      class="btn btn-primary"
      data-bind="click: loadAssignments"
    >
      Show Assignees
    </button>
  </div> -->
  <table
    class="table table-striped table-hover w-100"
    data-bind="attr: {id: getTableElementId() } "
  >
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Service Type</th>
        <th>Requesting Office</th>
        <th>Requestor</th>
        <th>Submitted Date</th>
        <th>Est. Completion Date</th>
        <!-- ko if: enableActionOfficeFeatures && ShowAssignees() -->
        <th>Assignments</th>
        <!-- /ko -->
      </tr>
    </thead>
    <tbody data-bind="">
      <!-- ko if: IsLoading -->
      <tr class="">
        <td colspan="7" class="p-0">
          <progress class="w-100"></progress>
        </td>
      </tr>
      <!-- /ko -->
      <!-- ko ifnot: IsLoading -->
      <!-- ko foreach: FilteredRequests -->
      <tr class="pointer" data-bind="click: $root.ViewRequest">
        <td data-bind="text: Title"></td>
        <td data-bind="text: ServiceType.Def()?.Title"></td>
        <td data-bind="text: RequestorInfo.Office()?.Title"></td>
        <td data-bind="text: RequestorInfo.Requestor()?.Title"></td>
        <td data-bind="text: Dates.Submitted.toLocaleDateString()"></td>
        <td data-bind="text: Dates.EstClosed.toLocaleDateString()"></td>
        <!-- ko if: $parent.enableActionOfficeFeatures && $parent.ShowAssignees() -->
        <td>
          <table class="table table-sm m-0">
            <tbody data-bind="foreach: Assignments.list.Dashboard">
              <tr>
                <td data-bind="text: Assignee?.Title"></td>
                <td data-bind="text: Role"></td>
                <td data-bind="text: Status"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <!-- /ko -->
      </tr>
      <!-- /ko -->
      <!-- /ko -->
    </tbody>
    <tfoot>
      <tr>
        <th clear-width data-filter="select-filter"></th>
        <th data-filter="select-filter"></th>
        <th data-filter="select-filter"></th>
        <th data-filter="select-filter"></th>
        <th data-filter="select-filter"></th>
        <th data-filter="select-filter"></th>
        <!-- ko if: enableActionOfficeFeatures && ShowAssignees() -->
        <th data-filter="search-filter"></th>
        <!-- /ko -->
      </tr>
    </tfoot>
  </table>
</div>

<!-- <button class="btn btn-primary" data-bind="click: loadMore">
    Load More...
  </button> -->
