<div data-bind="">
  <div class="row">
    <div class="col-6 pb-2">
      <label for="ch_overtime-people-contractor"><h6>Contractor:</h6></label>
      <div
        id="ch_overtime-people-contractor"
        data-bind="people: Contractor"
      ></div>
    </div>
    <div class="col-6 pb-2">
      <label for="ch_overtime-people-gov-manager"><h6>Gov Manager:</h6></label>
      <div
        id="ch_overtime-people-gov-manager"
        data-bind="people: GovManager"
      ></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 pb-2">
      <label for=""><h6>Overtime Dates (within month estimate):</h6></label>
      <div class="fw-semibold">Start Date:</div>
      <input
        class="form-control"
        type="date"
        data-bind="value: DateStart.inputBinding"
      />
      <div class="fw-semibold">End Date:</div>
      <input
        class="form-control"
        type="date"
        data-bind="value: DateEnd.inputBinding"
      />
    </div>
    <div class="col-6 pb-2">
      <label for=""><h6>Overtime Hours (not to exceed):</h6></label>
      <input class="form-control" type="number" data-bind="value: Hours" />
    </div>
  </div>
</div>
