<div class="card m-1">
  <div class="card-body">
    <h6>Please provide the APM and GTM (opt):</h6>
    <!-- ko if: Editing -->
    <div class="row">
      <div
        class="col pb-2"
        data-bind="component: {name: APM.components.edit, params: APM}"
      ></div>
      <div
        class="col pb-2"
        data-bind="component: {name: GTM.components.edit, params: GTM}"
      ></div>
    </div>
    <button
      type="button"
      class="btn fluid btn-primary"
      data-bind="click: submit"
    >
      Save
    </button>
    <!-- /ko -->
    <!-- ko ifnot: Editing-->
    <div class="row">
      <div
        class="col pb-2"
        data-bind="component: {name: APM.components.view, params: APM}"
      ></div>
      <div
        class="col pb-2"
        data-bind="component: {name: GTM.components.view, params: GTM}"
      ></div>
    </div>
    <button
      type="button"
      class="btn fluid btn-primary"
      data-bind="click: () => Editing(true)"
    >
      Update
    </button>
    <!-- /ko -->
  </div>
</div>
