#tabs {
  margin-top: 20px;
}
/*#tabs table {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 40%;
}

    #tabs table thead td {
        font-weight: bold;
    }

    #tabs table td {
        border: 1px solid gray;
    }*/

/*.data-table {
    border-collapse: collapse;
}

    .data-table thead td {
        font-weight: bold;
    }

    .data-table td {
        border: 1px solid gray;
        font-size: 12pt;
        font-family: arial;
        padding: 3px;
    }*/

#table-wo-request-info td {
  text-align: right;
  padding-right: 30px;
}

input[id$="uploadLocation"] {
  pointer-events: none;
}

.wo-id {
  color: blue;
  cursor: pointer;
}

#new-wo-table td {
  padding: 20px;
  text-align: center;
}

#wo-assigned-orders {
  width: 100% !important;
}

.data-table {
  width: 100% !important;
}

.trix-button-group--file-tools {
  display: none;
}

/*#table-attachments {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 40%;
}

    #table-attachments thead td {
        font-weight: bold;
    }

    #table-attachments td {
        border: 1px solid gray;
    }*/

/*#table-approvals {
    border-collapse: collapse;
}

    #table-approvals td {
        border: 1px solid gray;
        font-size: 12pt;
        font-family: arial;
    }*/

/*#wo-open-orders {
    border-collapse: collapse;
}

    #wo-open-orders td {
        font-size: 12pt;
        border: 1px solid gray;
    }*/

/*.header h2 {
    font-family: arial;
    font-size: 14pt;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: blue;
    margin-bottom: 25px;
    margin-top: 20px;
}*/

/*.service-type-icon {
    float: left;
    margin: 10px;
}*/

/*.table {
    table-layout: fixed !important;
}*/

.pointer {
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}

.hl-late {
  background-color: #c32b33 !important;
  color: white !important;
}

.hl-warn {
  background-color: #f07122 !important;
}

.hl-info {
  background-color: #f0b222 !important;
}

.sticky {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
}

#service-types {
  padding-top: 15px;
}

.service-type-detail {
  margin-top: 25px;
  margin-bottom: 25px;
}

.service-type-detail p {
  padding-top: 5px;
}

#wo-progress-bar .ui-progressbar-value {
  background: rgb(0, 127, 255);
}

#actions-bar {
  padding: 0.25em 15px;
  margin: 0.25em 0px;
  background-color: white;
}

#actions-bar .actions {
  margin: auto 0px;
}
#actions-bar .actions.left span {
  padding-right: 0.25em;
}

.fbox {
  display: flex !important;
}

.fbox.fluid {
  justify-content: space-between;
}

.fbox.left {
  /* display: flex; */
  flex-direction: row;
}

.fbox.right {
  flex-direction: row-reverse;
}
div [class*="left floated"] {
  float: left;
  margin-left: 0.25em;
}

div [class*="right floated"] {
  float: right;
  margin-right: 0.25em;
}

#progress-card .button {
  /* float: right; */
}

.admin-action-zone {
  border-radius: 5px;
  border-width: 2px;
  border-color: blue;
  border-style: solid;
  padding: 15px;
  background-color: rgb(0, 0, 255, 0.1);
}

.admin-action-zone div {
  padding-bottom: 5px;
}

input[disabled] {
  color: gray;
}

#tabs p {
  font-family: Arial;
  font-size: 13pt;
}

.required {
  color: red;
}

.optional {
  color: gray;
}

#open-orders h2 {
  margin: 25px 25%;
}

.container {
  margin: 15px;
}

textarea {
  width: 100%;
  height: 120px;
}

.checkbox {
  padding-top: 5px;
}

.ui.form {
  padding-top: 5px;
}

.ui.input.fill {
  min-width: 100%;
}

#tabs .ui.form .field :disabled {
  opacity: 0.85;
}

#tabs .ui.form .field input[type="checkbox"] :disabled {
  opacity: 1;
}

.week-days {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
}
