<div class="card mb-3 w-100">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h3 class="mx-0" data-bind="text: Def()?.Title"></h3>
      <i class="fa fa-sync pointer" data-bind="click: refreshEntity"></i>
    </div>
    <!-- ko if: RequestBodyBlobField -->
    <!-- <div
      id="request-body-service-type"
      data-bind="component: {name: ServiceTypeComponentName, params: {Entity: Entity()}}"
    ></div> -->
    <div
      data-bind="component: {
        name: RequestBodyBlobField.components.edit, 
        params: RequestBodyBlobField}, 
        class: RequestBodyBlobField.width"
    ></div>
    <!-- /ko -->
    <div
      class="col-12 pb-6"
      data-bind="component: {name: 'text-area-edit', params: RequestDescription}"
    ></div>
  </div>
</div>
