<div class="card mb-3 w-100">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h3 class="mx-0" data-bind="text: Def()?.Title"></h3>
      <i class="fa fa-sync pointer" data-bind="click: refreshEntity"></i>
    </div>
    <!-- ko if: ServiceTypeComponentName -->
    <div
      data-bind="component: {name: ServiceTypeComponentName, params: {Entity: Entity()}}"
    ></div>
    <!-- /ko -->
    <div class="col-12 pb-6">
      <label for=""
        ><h6>
          <span
            data-bind="text: Def()?.DescriptionTitle ?? 'Description'"
          ></span
          >:
        </h6>
      </label>
      <div data-bind="html: RequestDescription"></div>
    </div>
  </div>
</div>
