<h6>Your approval has been requested:</h6>
<div>Status: <span data-bind="text: assignment.Status"></span></div>
<div class="d-flex justify-content-start">
  <button
    class="ms-3 btn btn-success"
    data-bind="click: approve, disable: assignment.Status == assignmentStates.Approved"
  >
    Approve
  </button>
  <button
    class="ms-3 btn btn-danger"
    data-bind="click: showReject, disable: assignment.Status == assignmentStates.Rejected"
  >
    Reject
  </button>
</div>
<dialog data-bind="attr: {id: rejectModalId}">
  <div class="d-flex flex-column justify-content-center">
    <h4>Please Provide a Rejection Reason:</h4>
    <textarea data-bind="rejectReason"></textarea>
    <div class="d-flex justify-content-center">
      <button type="button" data-bind="click: reject">Reject</button>
      <button type="button" data-bind="click: cancelReject">Cancel</button>
    </div>
  </div>
</dialog>
