<h5>
  <span data-bind="text: displayName"></span
  ><span data-bind="if: isRequired" class="fw-bold text-danger">*</span>:
</h5>
<!-- ko ifnot: entityType -->
<div class="alert alert-danger">Missing entity type</div>
<!-- /ko -->
<!-- ko if: entityType -->
<!-- ko ifnot: multiple -->
<div
  data-bind="component: {name: TypedValue().components.edit, params: {Entity: TypedValue()}}"
></div>
<!-- /ko -->
<!-- ko if: multiple -->
<table class="table">
  <thead>
    <tr data-bind="">
      <!-- ko foreach: Cols -->
      <th data-bind="text: displayName"></th>
      <!-- /ko -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody data-bind="">
    <!-- ko foreach: {data: TypedValues, as: 'row'} -->
    <tr data-bind="">
      <!-- ko foreach: {data: row.FormFields, as: 'col'} -->
      <td data-bind="text: col.toString"></td>
      <!-- /ko -->
      <td>
        <i
          title="remove item"
          class="fa-solid fa-trash pointer"
          data-bind="click: $parent.remove.bind(row)"
        ></i>
      </td>
    </tr>
    <!-- /ko -->
    <tr>
      <!-- ko foreach: TypedValue()?.FormFields -->
      <td>
        <div
          data-bind="component: {name: components.edit, params: $data}"
        ></div>
      </td>
      <!-- /ko -->
      <td class="align-bottom">
        <button
          title="add and new"
          type="button"
          data-bind="click: submit"
          class="btn btn-success"
        >
          Add +
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- /ko -->
<!-- /ko -->
