.pointer {
  cursor: pointer;
}

.dimmer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  transition: all 0.5s linear;
}
.active.dimmer {
  display: flex;
  opacity: 1;
}
