.pointer {
  cursor: pointer;
}

#request-body-service-type label {
  width: 100%;
}
#request-pipeline .fix-service-icon-border {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0.25rem;
}

.accordion-title .indicator {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}

.accordion-title:not(.collapsed) .indicator {
  transform: rotate(-180deg);
}
.dimmer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  transition: all 0.5s linear;
}

.active.dimmer {
  display: flex;
  opacity: 1;
  z-index: 1200;
}

/* .sticky {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
} */

.is-invalid div.sp-peoplepicker-topLevel {
  padding-right: 4.125rem;
  --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  border-color: var(--bs-form-invalid-border-color);
}

.is-valid div.sp-peoplepicker-topLevel {
  border-color: var(--bs-form-valid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");

  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

div.sp-peoplepicker-topLevel {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
}

.people-new-assignee > div {
  height: 100%;
}

.people-new-assignee div.sp-peoplepicker-topLevel {
  height: 100%;
  display: flex;
  flex-direction: row;
  min-width: 15rem;
  border-radius: 0;
}

.people-new-assignee .sp-peoplepicker-initialHelpText {
  position: inherit;
  white-space: nowrap;
  top: 0;
  display: inline-flex;
  align-items: center;
}

.people-new-assignee
  .sp-peoplepicker-topLevelFocus
  .sp-peoplepicker-initialHelpText {
  display: none !important;
}

.people-new-assignee .sp-peoplepicker-resolveList {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.state-rejected,
.state-cancelled {
  color: red;
  font-weight: bold;
}

.state-open,
.state-completed {
  color: green;
  font-weight: bold;
}

.state-draft {
  color: blue;
  font-weight: bold;
}

.component.field button {
  min-width: 2rem;
}

div.form-control.is-invalid {
  padding-right: 4.125rem;
  --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  border-color: var(--bs-form-invalid-border-color);
}

div.form-control.is-valid {
  border-color: var(--bs-form-valid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");

  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.kpi {
  background-repeat: no-repeat;
  background-position: center center;
}

.kpi-green {
  background-image: url("../assets/KPIGreen.GIF");
}

.kpi-yellow {
  background-image: url("../assets/KPIYellow.GIF");
}

.kpi-red {
  background-image: url("../assets/KPIRed.GIF");
}
